@model IEnumerable<Global>

<h2>Players</h2>

<div style="display: block">
     <a href="/Global/InsertGlobal/"> Add Player
       <button class="btn btn-default" button style="color: azure;" input type="submit" </button> 
     </a>
</div>

<table class="table">
    <tr>
        <th>UID</th>
        <th>Name</th>
        <th>Level</th>
        <th>SelectedLegend</th>
        <th>Skin</th>
        <th>SkinRarity</th>
    </tr>

    @foreach (var player in @Model)
    {
        <tr>
            <td><a href=/Global/ViewGlobal/@player.UID>@player.UID</a></td>
            <td>@player.Name</td>
            <td>@player.Level</td>
            <td>@player.SelectedLegend</td>
            <td>@player.Skin</td>
            <td>@player.SkinRarity</td>
        </tr>
    }

</table>


<video autoplay loop muted plays-inline class="back-video"> 
    <source src="images/apex-video-background-download-worlds-edge-5.mp4" type="video/mp4">
</video>

<style>
    a{
        color: azure;
    }
</style>